


.header-title.charts-main-title {
    font-weight: 400;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

.main_nav li {
    float: left;
    list-style: outside none none;
    padding: 0 11px;
}

.clear {
    clear: both;
}

.navbar-nav .open .dropdown-menu.msg_list {
    width: 300px;
}

.navbar-nav .open .dropdown-menu {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d9dee4;
    left: auto;
    margin-top: 0;
    position: absolute;
    right: 0;
    width: 148px;
    min-width: 100px;
}

.top_nav .dropdown-menu li {
    width: 100%;
}

.top_nav .navbar-right li {
    position: relative;
}

.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}

ul.msg_list li {
    background: #f7f7f7 none repeat scroll 0 0;
    display: flex;
    margin: 6px 6px 0;
    padding: 5px;
    width: 96% !important;
}

/*-------------------------------------------- ticket search dropdwon*/
.phone-main-col {
    background-color: #ffffff;
    border: 1px solid;
    float: left;
    height: 27px;
    margin-bottom: 1.6em;
    width: 96%;
}

.selected-dropdown {
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 27px;
    line-height: 1.5;
    padding: 5px;
    position: relative;
}

    .selected-dropdown:hover {
        background-color: #f4f4f4;
        cursor: pointer;
    }

    .selected-dropdown .iti-arrow {
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid rgba(0, 0, 0, 0);
        border-top: 4px solid #555555;
        height: 0;
        margin-top: -2px;
        position: absolute;
        right: 4px;
        top: 50%;
        width: 0;
    }

.dropdown-list {
    border: 1px solid #ccc;
    line-height: 2;
    list-style: outside none none;
    margin: 0;
    padding: 11px;
    display: none;
}

    .dropdown-list input {
        margin-right: 11px;
    }

.dropdown-container {
    margin: 10px auto;
}
/*----- Chart Css -----*/

.x_panel {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #e6e9ed;
    box-shadow: 0 1px 2px #909090;
    display: inline-block;
    margin-bottom: 2em;
    opacity: 1;
    padding: 0 0 4px;
    position: relative;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.x_title {
    background-color: #4f87c7;
    border-bottom: 2px solid #e6e9ed;
    margin-bottom: 10px;
    padding: 4px 10px 6px;
}

    .x_title .filter {
        float: right;
        width: 40%;
    }

    .x_title h2 {
        color: #fff;
        display: block;
        float: left;
        font-family: Segoe UI,sans-serif;
        font-size: 0.95em;
        margin: 9px 0 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
    }

        .x_title h2 small {
            margin-left: 10px;
        }
/*.x_title span {
    color: #bdbdbd;
}*/
.x_content {
    clear: both;
    float: left;
    margin-top: 5px;
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
}

    .x_content .table.table-bordered > tbody > tr > td {
        padding: 0.435em 8px;
    }

    .x_content h4 {
        font-size: 16px;
        font-weight: 500;
    }

.panel_toolbox {
    float: right;
    min-width: 70px;
}

    .panel_toolbox > li {
        cursor: pointer;
        float: left;
    }

        .panel_toolbox > li > a {
            color: #fff;
            font-size: 14px;
            padding: 5px;
        }

            .panel_toolbox > li > a:hover {
                background: #f5f7fa none repeat scroll 0 0;
                color: #000;
            }

.line_30 {
    line-height: 30px;
}

.main_menu_side {
    padding: 0;
}

.bs-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 6px;
}

.charts-main-title {
    color: #4f87c7;
    font-family: segoe_light,sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 1.2em;
    padding-top: 1em;
    margin-top: 0;
    padding-left: 0.3em;
}

#draggablePanelList.chart-main-cont, .chart-main-cont {
    overflow-x: hidden;
    padding-left: 4em;
    padding-right: 1em;
}

.x_content .table {
    margin-bottom: 10px;
}

    .x_content .table > tbody > tr > td {
        vertical-align: middle;
        border: 0px;
    }

    .x_content .table.table-bordered > tbody > tr > td {
        padding: 0.435em 8px;
        border: 1px solid #ddd;
    }
/*------ Switch Buttons Start ---*/

.switch {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 30px;
}

    .switch input {
        display: none;
    }

    .switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ededed;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .switch .slider:before {
            background-color: #ffffff;
            bottom: 3px;
            box-shadow: 0 0 2px #8f8f8f;
            content: "";
            height: 12px;
            left: 3px;
            position: absolute;
            transition: all 0.4s ease 0s;
            width: 12px;
        }

    .switch input:checked + .slider {
        background-color: #57adf2;
    }

    .switch input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    .switch input:checked + .slider:before {
        -webkit-transform: translateX(11px);
        -ms-transform: translateX(11px);
        transform: translateX(11px);
    }

    /* Rounded sliders */
    .switch .slider.round {
        border-radius: 34px;
    }

        .switch .slider.round:before {
            border-radius: 50%;
        }

/*------ Switch Buttons End ---*/

/*------ Home Page Css ------*/
.homepage {
    background-color: #ffffff;
}

    .homepage .site_logo .img-responsive {
        margin: 0 auto;
    }

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.top-padding {
    padding-top: 14em;
}

.reports-icons-main {
    background-color: #e4e4e4;
    margin: 0 0.5%;
}

.row.seven-cols {
    margin: 0 -4px 3em;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    background-color: #ffffff;
    border: 0 none;
    border-radius: 0;
    display: inline-block;
    float: left;
    height: 1.3em;
    margin-right: 0;
    position: relative;
    width: 1.3em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon {
    color: #4f87c7;
    font-size: 0.8em;
    left: 20%;
    line-height: 0;
    position: absolute;
    top: 50%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

.reports-icons-main .checkbox label {
    margin: 10px 0 0;
}

.reports-icons-main .checkbox {
    margin: 0;
    text-align: right;
    width: 100%;
}

.img-responsive {
    margin: 0 auto;
}

.reports-icon-text {
    color: #797979;
    display: block;
    font-size: 1.12em;
    line-height: 1.2em;
    padding-top: 1.4em;
    text-align: center;
}

.two-lines-txt {
    padding-top: 0.8em;
}

.reports-icons-main {
    background-color: #e4e4e4;
    margin: 0;
    min-height: 160px;
    padding: 0 12px;
    margin: 3px;
}

.reports-main-title {
    border-bottom: 1px solid #dddddd;
    color: #4f87c7;
    font-family: Segoe UI,sans-serif;
    font-size: 3.12em;
    font-weight: 300;
    margin-top: 0.5em;
    padding-bottom: 0.52em;
}

.reports-main-cont {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1.55em;
}

.reports-col-title {
    color: #5a5a5a;
    font-family: Segoe UI,sans-serif;
    font-size: 2.25em;
    font-weight: 300;
    margin-bottom: 0.9em;
}

.btm-next-btn a {
    text-decoration: none;
}

.btm-next-btn .btn, .btm-save-btn .btn {
    background-color: #4f87c7;
    border-radius: 0;
    color: #ffffff;
    display: block;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 auto;
    padding: 6px 0;
    text-align: center;
    width: 120px;
}

.reports-wrapper {
    padding-bottom: 2em;
}

.container.reports-wrapper {
    width: 100%;
}
/*------ Mobile Nav Css ------*/

.user-profile-control {
    cursor: auto !important;
    text-align: center;
}

.user-name-txt {
    color: #ffffff;
    display: block;
    font-family: segoe_bold,sans-serif;
    line-height: normal;
    margin-top: 0.8em;
    text-transform: uppercase;
}

.user-designation-txt {
    color: #ffffff;
    display: block;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.mob-nav-prof-img {
    border-radius: 70px;
    max-height: 128px;
    max-width: 128px;
}

.mobile-menu {
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 30px;
    display: none;
}

.mobileNav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.mobileNav-overlay-content {
    margin-top: 0;
    position: relative;
    text-align: left;
    top: 15%;
    width: 100%;
}

.dealer-logo-inner {
    display: inline-block;
}

.mobileNav-overlay-content .nav-side-menu {
    display: block !important;
}

.mobileNav-overlay-content {
    display: block !important;
}

    .mobileNav-overlay-content li {
        padding: 12px 0 !important;
    }

.mobileNav-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .mobileNav-overlay a:hover, .mobileNav-overlay a:focus {
        color: #f1f1f1;
    }

.mobileNav-overlay .closebtn {
    font-size: 40px;
    position: absolute;
    right: 45px;
    top: 0;
}

/*------ Inner Chart Css ------*/

.charts-main-title .glyphicon-triangle-right {
    color: #787878;
    font-size: 0.8em;
}

.breadcrumb-item {
    color: #787878;
}

.dp-option #reportrange {
    text-align: right;
    width: auto;
    cursor: pointer;
}

.dp-option {
    margin-top: 1.5em;
}

.inner-chart-main {
    padding-left: 4em;
    width: 98.5%;
}

.btm-option-cont {
    float: none;
    margin: 4em auto 0;
    padding-bottom: 4em;
}

#saveReports {
    background-color: #ebebeb;
    border-radius: 0;
    color: #aaaaaa;
    max-width: 200px;
    padding-top: 4px;
}

.saveReports-label {
    color: #aaaaaa;
    font-size: 1.85em;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0.15em;
    font-family: segoe_light,sans-serif;
}

.btm-save-btn {
    margin-top: 3em;
}

#saveReports {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url('/Content/images/select-arrow.png');
    background-position: 96% 11px;
    background-repeat: no-repeat;
    background-size: 15px auto;
}

/*RBAK
.content {
    min-height: 90em;
}*/
/* Header Logo Section*/

#header-logo {
    width: 153px;
}


/* /////////////////////////////// Reports CSS /////////////////////////////// */


/*Chat Comparison*/

#ChatComparison .block {
    padding: 6px 2px;
}

#ChatComparison #chatblock.box,
#ChatComparison #visitorblock.box,
#ChatComparison #responseblock.box {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
}

#ChatComparison #chatblock {
    background-color: #c984ba;
}

#ChatComparison #visitorblock {
    background-color: #01b9b9;
}

#ChatComparison #responseblock {
    background-color: #3598db;
}

#ChatComparison .box {
    background-color: #e2e4e3;
    margin-bottom: 1px;
    padding: 10px 0;
    text-align: center;
}

    #ChatComparison .box > div {
        display: inline-block;
        text-align: center;
    }

#ChatComparison .left-number {
    font-size: 19px;
}

#ChatComparison .comparison-right.down i {
    color: #ff0000;
}

#ChatComparison .comparison-right i {
    display: block;
    font-size: 16px;
}

#ChatComparison .comparison-center {
    font-size: 12px;
}

#ChatComparison .comparison-right {
    float: right;
    font-weight: bold;
    width: 20%;
    font-size: 11px;
}

#ChatComparison .box-left {
    width: 80%;
}

#ChatComparison .box-number {
    float: left;
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
}

#ChatComparison .box-text {
    display: block;
    margin-top: 7px;
    text-align: center;
}

#ChatComparison .fa.fa-caret-up {
    color: #008000;
}


/*Chat Transcript*/

#chatTranscript .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

#chatTranscript .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

#chatTranscript .panel-title {
    font-size: 14px;
}

    #chatTranscript .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

#chatTranscript .more-less {
    float: right;
    color: #212121;
}

#chatTranscript .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

#chatTranscript .item {
    cursor: pointer;
}

#chatTranscript .item-data {
    display: none;
    width: inherit;
    height: auto;
    border: 1px solid #ccc;
}

#chatTranscript .active {
    background: #eee;
    color: #000;
}

#chatTranscript .glyphicon-minus {
    display: none;
}

#chatTranscript .glyphicon-minus,
#chatTranscript .glyphicon-plus {
    float: left;
    margin-right: 3px;
}

#chatTranscript > p {
    margin-top: 10px;
    float: left;
}

#chatTranscript .dataTables_wrapper > div:first-child {
    display: none;
}

#chatTranscript #chat_trascript_right {
    float: right;
}

    #chatTranscript #chat_trascript_right .fa-circle-o {
        color: #ff0000;
        float: left;
        font-size: 9px;
        margin-right: 7px;
        margin-top: 4px;
    }

    #chatTranscript #chat_trascript_right > strong {
    }

    #chatTranscript #chat_trascript_right .fa.fa-angle-down {
        margin-left: 3px;
    }

    #chatTranscript #chat_trascript_right > a {
        text-decoration: none;
    }

#chatTranscript .chat-transcript-dropdown .radio-inline {
    display: block;
    font-size: 12px;
    line-height: 22px;
    margin-left: 5px;
}

#chatTranscript #chat_trascript_right .dropdown-toggle {
    display: block;
    margin-top: 10px;
}

#chatTranscript #chat_trascript_right .dropdown-menu {
    left: unset;
    right: 0;
    width: unset;
}

#chatTranscript #chat_trascript_right .chat-transcript-dropdown p {
    float: left;
    font-size: 11px;
    margin: 0 0 4px 5px;
}

#chatTranscript .view .fa.fa-database {
    float: right;
}


/*Expected Chat*/

#expectedChat {
    background-color: #ffffff;
    min-height: 220px;
    width: 100%;
}

    #expectedChat .fa.fa-caret-left,
    #expectedChat .fa.fa-caret-right {
        color: #cccccc;
        font-size: 70px;
        width: 11%;
    }

    #expectedChat #display {
        font-size: 5em;
        margin: 0 auto;
        text-align: center;
    }

    #expectedChat .inner-container div {
        display: inline-block;
        width: 73%;
    }

    #expectedChat .inner-container p {
        text-align: center;
    }

    #expectedChat .inner-container {
        margin: 50px auto 0;
        max-width: 380px;
    }

    #expectedChat > p {
        margin-top: 10px;
    }

    #expectedChat .fa.fa-caret-right {
        text-align: right;
    }


/*Live Chat*/

#liveChat {
    background-color: #ffffff;
}

    #liveChat .current-chats li {
        border-bottom: 1px solid #cccccc;
        font-size: 15px;
        line-height: 20px;
        list-style: outside none none;
        padding-top: 7px;
    }

    #liveChat .current-chats {
        padding-left: 0;
    }

.current-chats i {
    display: block;
    float: left;
    font-size: 17px;
    margin-right: 20px;
}

#liveChat .fa.fa-eye {
    float: right;
    font-size: 15px;
}

#liveChat #desktop-vs-mobile {
    background-color: #01b9b9;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#liveChat #desktop-mobile-icons div {
    display: inline-block;
    font-size: 40px;
}

#liveChat #desktop-mobile-icons {
    margin: 0 auto;
    max-width: 50%;
}

    #liveChat #desktop-mobile-icons .fa.fa-mobile {
        float: right;
        font-size: 65px;
        line-height: 30px;
        transform: rotate(90deg);
    }

#liveChat h3 .fa.fa-comment {
    font-size: 40px;
    margin-left: 10px;
    position: relative;
}

    #liveChat h3 .fa.fa-comment > span {
        color: #ffffff;
        font-family: arial;
        font-size: 20px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 10px;
        width: 40px;
        z-index: 9999;
    }

#liveChat > h3 {
    color: #5087c8;
}

#liveChat .fa.fa-desktop,
.fa.fa-mobile {
    position: relative;
}

    #liveChat .fa.fa-desktop > span,
    #liveChat .fa.fa-mobile > span {
        font-family: arial;
        font-size: 14px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 6px;
        width: 44px;
    }

#liveChat .fa.fa-mobile > span {
    bottom: 9px;
    font-size: 13px;
    transform: rotate(270deg);
    width: 20px;
}
/*------ Custom Chart Css ------*/
.x_content .progres-chart-content > tbody > tr > td {
    padding-left: 0;
    padding-right: 0;
}

.tech-box-icons {
    display: block;
    font-size: 1.5em;
    text-align: center;
}

.charts-inner-tabs .nav.nav-pills.nav-tabs {
    border: medium none;
}

.charts-inner-tabs .nav-pills > li {
    float: left;
    margin: 0;
    width: 101%;
}

    .charts-inner-tabs .nav-pills > li > a {
        border: medium none !important;
        color: #000000;
    }

    .charts-inner-tabs .nav-pills > li.active > a,
    .charts-inner-tabs .nav-pills > li.active > a:focus,
    .charts-inner-tabs .nav-pills > li.active > a:hover {
        background-color: #f9f7f7 !important;
        border: medium none;
        border-radius: 0;
        color: #0092ed !important;
    }

.internet-browsers-main {
    background-color: #f9f7f7;
    min-height: 18em;
    padding-right: 5px !important;
}

.x_title.ui-sortable-handle > .small-txt {
    float: left;
    width: 80%;
}

.box-main-col {
    background-color: #959595;
    color: #ffffff;
    margin: 7px 6px;
    padding: 20px 15px;
}

.box-title {
    display: block;
    font-size: 1.12em;
    text-transform: uppercase;
}

.box-content {
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;
}

.visitor-box-main-col {
    background-color: #ffffff;
    color: #ffffff;
    margin: 7px 6px;
    padding: 20px 10px;
    border: 3px solid #d8d8d8;
    display: inline-block;
    border-radius: 5px;
    width: 97%;
    text-align: center;
}

.custom-cols {
    width: 20%;
    float: left;
}

.visitor-box-title {
    display: block;
    font-size: 1.12em;
    color: black;
}

.visitor-box-content {
    display: block;
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1;
}

.box-bg-blue {
    background-color: #46c3e6;
}

.box-bg-green {
    background-color: #9ac938;
}

.box-bg-purple {
    background-color: #6164c1;
}

.box-bg-darkGray {
    background-color: #44425b;
}

.padding-right-0 {
    padding-right: 0 !important;
}

#top_platforms {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
}

.inner-box-cont ul {
    list-style: outside none none;
    margin: 0;
    margin-right: 45px;
}

.inner-box-cont {
    display: inline-block;
    width: 100%;
}

    .inner-box-cont ul li {
        border-bottom: 1px solid #cccccc;
        padding: 0.92em 0;
    }

.inner-box-content {
    margin-left: 0.5em;
}

.progres-chart-content .progress {
    background-color: #e2e2e2;
    border-radius: 0;
    box-shadow: 0 0;
    height: 26px;
    margin-bottom: 0;
    position: relative;
}

.progres-chart-content .progress-txt {
    color: #000000;
    display: block;
    line-height: 2;
    position: relative;
    text-align: left;
    top: 0;
    white-space: nowrap;
    width: 100%;
}

.progres-chart-content .progress-bar {
    background: #6cc68c none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 0;
    overflow: visible;
    padding-left: 5px;
    border: none;
}

.progres-chart-content .progress-int {
    color: #000000;
    line-height: 2;
    margin: 0;
    position: absolute;
    right: 5px;
}

.progres-chart-content table tr td {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    border: none;
}

.progres-chart-content .browser-int-value {
    background-color: #e2e2e2;
    color: #000000;
    display: block;
    margin-left: 6px;
    padding: 4px 5px;
    text-align: center;
}
/*---- Top Visit Css -----*/

.total-visit-txt, .total-visit-int {
    display: block;
    font-size: 1.2em;
}

.total-visit-int {
    color: #333333;
    font-size: 2.5em;
}

.top-visit-icons {
    font-size: 3em;
    line-height: normal;
    vertical-align: middle;
    width: 40px;
}

.fa.fa-desktop.top-visit-icons {
    font-size: 2em;
}

.top-visit-box .inner-box-content {
    font-size: 1.25em;
}

.inner-box-cont.top-visit-box li {
    color: #000000;
}

    .inner-box-cont.top-visit-box li:first-child {
        border-top: 1px solid #cccccc;
        margin-top: 1.5em;
    }

.total-visit-txt {
    margin-top: 1em;
}
/*---- Cutom Reports Css -----*/
#button {
    display: inline-block;
    background: #ddd;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.checkbox-btn {
    display: inline-block;
    margin-right: 10px;
}

.custom-reports-inner {
    clear: both;
    float: none;
    margin: 0 auto;
}

.custom-reports-cont {
    padding-left: 4em;
    padding-right: 1em;
}

.custom-reports-inner .input-group.input-main-col {
    margin-bottom: 3em;
}

.custom-reports-inner .checkbox-lable {
    margin-bottom: 0 !important;
}

.custom-reports-inner .form-lable {
    /*color: #717171;*/
    color: #000;
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 7px;
    margin-bottom: 0;
}

.custom-reports-form .form-lable {
    /*font-size: 1.1em;*/
}

.custom-reports-inner input[type="checkbox"], .custom-reports-inner input[type="radio"] {
    float: left;
    line-height: normal;
    margin: 6px 10px 0 0;
}

.custom-reports-inner .input-group .checkbox-lable label {
    color: #aaaaaa;
    font-size: 1.25em;
    font-weight: normal;
}

.custom-reports-inner .form-control.input-group {
    border-radius: 0;
}

.custom-reports-inner .send-btn {
    background-color: #4f87c7;
    color: #ffffff !important;
    float: right;
    font-size: 1.2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

#report-type.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url("../Content/images/select-arrow-lg.jpg");
    background-position: right center;
    background-repeat: no-repeat;
}

.custom-reports-inner .input-group > label {
    color: #aaaaaa;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    /*font-family: segoe_light,sans-serif;*/
}

.custom-reports-inner .input-main-col {
    margin-bottom: 1em;
}

.custom-reports-form .input-main-col {
    margin-bottom: 2em;
}

.top-margin {
    display: inline-block;
    margin-top: 12px;
}

.custom-reports-inner .form-control-disable {
    background-color: #eaeaea !important;
}

.custom-reports-inner .form-control {
    background-color: #fff;
    box-shadow: 0 0;
    border-radius: 0px;
}

#tblrptWebsiteInfo_paginate li {
    background: none !important;
    border: medium none !important;
}

#tblrptWebsiteInfo_paginate .active > a {
    color: #ffffff !important;
}

.ui-autocomplete {
    max-height: 300px;
    overflow: auto;
}

.custom-reports-bottm-col {
    border-top: 1px solid #c0c0c0;
    margin-top: 4em;
}

.sub-rep-heading {
    color: #858585;
    font-family: segoe_light,sans-serif;
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.custom-reports-bottm-col label {
    color: #aaaaaa;
    font-family: segoe_light;
    font-size: 1.4em;
    font-weight: normal;
    padding-left: 1.5em;
}

.custom-reports-bottm-col .row:nth-child(3) {
    background-color: #f0f0f0;
}

.custom-reports-bottm-col .row {
    background-color: #e1e1e1;
    padding: 10px 0;
}

#checkbox-btn-main {
    background-color: #4f87c7;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    font-size: 1em;
    padding: 6px 13px 8px;
    text-align: center;
    width: 100px;
}

    #checkbox-btn-main input[type="checkbox"], #checkbox-btn-main input[type="radio"] {
        float: left;
        line-height: normal;
        margin: 4px 0 0;
    }

.custom-reports-modal .modal-header {
    background-color: #bababa;
    color: #ffffff;
}

.custom-reports-modal .modal-body {
    background-color: #e3e3e3;
}

.custom-reports-modal .close {
    color: #ffffff;
    opacity: 1;
}

/*---- Tickets Table css -----*/

/* Creat Tickets Modal Css*/
.create-ticket-wrapper {
    float: none;
    margin: 30px auto;
    border-radius: 0px;
}

    .create-ticket-wrapper .modal-header {
        padding: 12px;
    }

.attach {
    margin-left: 3px;
}

#atch {
    /*margin-top: 9px;*/
    margin-left: 5px;
}

span#atch span {
    display: inline-block;
}

.save-tckt-btn {
    background-color: #5087c8;
    border-radius: 0;
    color: #ffffff !important;
    margin-top: 1em;
    padding: 4px 30px;
}

#tktsearch {
    margin-top: 10px;
}

.subject-input-cont .form-control {
    border-radius: 0;
    height: 25px;
    padding: 0 11px 3px;
}

.disc-editor {
    border-radius: 0;
    margin-bottom: 2em;
}

.int-chck {
    margin-left: 5em !important;
}

.subject-input-cont {
    margin-top: 1em;
}

.create-ticket-wrapper .modal-header {
    background-color: #5087c8;
    color: #ffffff;
}

    .create-ticket-wrapper .modal-header .close {
        color: #ffffff;
        opacity: 1;
    }

.crt-tckt-btm-cont {
    background-color: #e7e6e6;
    margin-top: 2em;
    padding: 12px 20px;
}

.crt-tckt-mid-cont {
    margin-top: 10px;
}

    .crt-tckt-mid-cont .btn-attachment {
        padding: 3px 12px;
    }

.Dline-input {
    margin-left: 9px;
    padding: 0 6px;
}

.crt-tckt-mid-cont .row .form-control {
    border-radius: 0;
    height: 28px;
    padding: 4px 4px 3px;
}

.input-calender-icon::before {
    color: #000000;
    content: "\f073";
    font-family: FontAwesome;
    position: absolute;
    right: 7px;
    top: 4px;
    z-index: 1;
}

.input-main-col .input-calender-icon::before {
    right: 2em;
    top: 0.5em;
    z-index: 1;
}

.input-calender-icon {
    position: relative;
}

.crt-tckt-mid-cont .row {
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
}

.create-ticket-wrapper .modal-body {
    padding: 15px 22px;
}

#tblrptWebsiteInfo_wrapper {
    padding: 0 25px;
    margin-top: 15px;
}
/* Creat Tickets Modal Css End*/

/*Tickets Modal Css*/

#individualtable .sorting_asc {
    width: 20px !important;
}

#tickets-tabs .dataTables_wrapper .sorting_asc input {
    display: inline-block;
    width: 100%;
}

.sorting_1 input {
    display: inline-block !important;
    width: 100%;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td , table.table-bordered.dataTable tfoot td {
    white-space: normal;
    color: #000;
}

.modify-tck-content {
    border: 1px solid #cccccc;
    padding: 15px 12px;
}

.list-group.text-box li {
    border: 1px solid #cacaca;
    border-radius: 0;
    padding: 20px;
}

.skin-codes-modal {
    color: #202020;
}

.skin-codes-wrapper {
    float: none;
    margin: 60px auto;
    margin: 0 auto;
}

.modify-ticket-title {
    background-color: #4f87c7;
    color: #ffffff;
    margin: 0;
    padding: 12px 10px;
}

.editor-title {
    color: #5087c8;
    display: inline-block;
    font-weight: 600;
    width: 100%;
}

.radio-btn {
    float: left;
    margin-right: 8px !important;
}
/*#select-done-option, #select-dept, #assign-user-opt {
    -moz-appearance: none;
    background-color: #f3f3f3;
    background-image: url("../images/select-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 22px auto;
    border: 1px solid #a1a1a1;
    border-radius: 0;
    height: 30px;
    -webkit-appearance: none;
    padding: 0;
}*/
/*#assign-user-opt, #select-dept  {
    text-align: center;
}*/
.add-subscriber-btn, .remove-subscriber-btn {
    background-color: transparent;
    text-decoration: underline;
}

.transfer-tckt-btn {
    background-color: #5087c8;
    border-radius: 0;
    color: #ffffff !important;
}

.tckt-btn-achor {
    background-color: #80b7f8;
    border-radius: 5px;
    color: #ffffff !important;
}

.transfer-srch-btn {
    background-color: #5087c8;
    border-radius: 0;
    color: #ffffff !important;
    margin-right: 15px;
}

.btm-select-option {
    margin-top: 1em;
}

.click-broadcast-txt {
    color: #707070;
    text-decoration: underline;
}

.subscriberbtn {
    margin-top: 22px;
}

.remove-sub-btn {
    margin-left: 3.25em;
}

.add-sub-btn-col {
    margin-left: 3.25em;
    margin-right: 3.25em;
}

.done-label {
    margin-top: 0.25em;
}

.btn-attachment {
    background-color: #80b7f8;
    border-radius: 5px;
    color: #ffffff !important;
    padding: 4px 12px;
}

.btn-save {
    background-color: #5087c8;
    border-radius: 0;
    color: #ffffff !important;
    padding: 3px 12px 5px;
}

.editor-btm-btn {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

.transfet-ticket-txt {
    margin: 12px 0;
}

.skin-codes-modal .modal-body {
    background-color: #f5f5f5;
}

.skin-codes-modal .modal-header {
    background-color: #5087c8;
    color: #ffffff;
}

.skin-codes-modal button.close {
    color: #ffffff;
    opacity: 1;
}

.skin-codes-modal .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    padding: 5px 0;
}

.mail-reply-cont .list-group-item {
    border: 1px solid #cccccc;
    border-radius: 0;
    padding: 10px;
}

.web-sub-emails li {
    display: inline;
    margin-right: 5px;
}
/*.mail-reply-cont .list-group {
    margin: 0;
}*/
.skin-codes-modal .col-main-title {
    margin: 11px 0;
}

.skin-codes-modal .top-content {
    border: 1px solid #cccccc;
    padding: 0 15px;
}

.skin-codes-modal .right-col {
    border-left: 1px solid #cccccc;
    padding-left: 1.5% !important;
    padding-bottom: 1em;
}

/*Tickets Modal Css End*/
/*Dashboard User Css Start*/
#example1_wrapper {
    margin-top: 1em;
    padding-left: 5px;
    width: 99%;
}

#fil {
    display: none;
}

#example1 thead tr th, #tblrptWebsiteInfo thead tr th {
    color: #000000;
}

#example1_wrapper .row, #example1_wrapper .row .col-sm-12 {
    margin: 0 !important;
}

.add-user-cont {
    float: none;
    margin: 0 auto;
}

.add-dash-inner {
    float: none;
    margin: 0 auto;
}

#AssignedUsers label,
#AssignedWebsite label,
#addroleform label {
    color: #000000;
    text-align: left;
    width: 100%;
}

#createReportsSchedule label, #adduserform label, #addCampaignForm label{
    color: #000000;
    margin: 1% 0;
}

.arrow-btn-col .btn {
    margin-top: 3em;
}

.dash-trained-col .row {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.dash-trained-col {
    padding-top: 1em;
}

.dash-del-btn {
    margin-top: 1em;
}

.add-user-content {
    background-color: #f5f5f5;
    margin-bottom: 0em;
    padding-bottom: 1em;
}

.add-user-cont-title {
    background-color: #5087c8;
    color: #ffffff;
    margin: 0;
    padding: 11px 18px;
}

    .add-user-cont-title .close-link {
        cursor: pointer;
    }

#select-role, #select-company {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url("../Content/images/select-arrow-lg.jpg");
    background-position: right center;
    background-repeat: no-repeat;
}

.dropdown-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url("/Content/images/select-arrow-lg.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 3em;
    background-color: #eaeaea;
    border-radius: 0;
    height: 33px;
    padding-top: 4px;
}

select#CompanyId {
    height: 33px;
}

.changestatus {
    margin-top: 7px;
}

.add-user-content .row.no-margin {
    padding-top: 1.5em;
}

.add-user-content .row .form-control {
    border-radius: 0;
    padding-top: 7px;
    background-color: #fff;
}

.partial-center {
    float: none;
    margin: 2em auto;
}

.error {
    color: red;
}

.partial-center form {
    border: 2px solid #5087c8;
}
/*Custom Tabs Css*/
.custom-graph-tabs {
    float: left;
}

.custom-graph {
    float: left;
}

.custom-graph-tabs li {
    float: none;
    margin: 1px 0 !important;
}

    .custom-graph-tabs li a {
        background-color: #cccccc;
        border: medium none !important;
        border-radius: 0;
    }

.custom-graph-tabs ul {
    border: medium none;
}

/*Dashboard User Css End*/
#ShowReportsTable_length {
    float: left;
}

.dataTables_wrapper.form-inline.dt-bootstrap {
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.dataTables_wrapper .row:first-child {
    background-color: #5087c8;
    color: #ffffff;
    margin: 0;
    padding: 10px 0 6px;
}

.dataTables_filter input {
    color: #000;
}

.dataTables_length select {
    color: black;
}
/* change border radius for the tab , apply corners on top*/
#example1 thead tr, #example thead tr {
    background-color: #cfcfcf;
}

#tickets-tabs .nav-pills > li > a {
    background-color: #4f87c7;
    border-radius: 0;
    color: #ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}

#tickets-tabs .tab-content {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    color: #000000;
    margin-top: -1px;
    padding: 5px 15px;
}

.nav-pills > li + li {
    margin-left: 5px;
}

#tickets-tabs {
    margin: 0 4px;
    padding-top: 0em;
}

    #tickets-tabs > ul {
        margin-bottom: 0;
        padding-left: 0;
    }

    #tickets-tabs ul li.active > a {
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
    }

#open-tickets .create-btn {
    background-color: #4f87c7;
    color: #ffffff;
    display: block;
    font-size: 1.25em;
    margin: 2em 0;
    max-width: 160px;
    padding: 12px;
    text-align: center;
    border-radius: 0px;
    border: none;
}

.refresh-rates-box > label {
    color: #666666;
    font-size: 1.35em;
    font-weight: normal;
    margin-top: 4px;
}

.refresh-rates-box {
    margin-top: 3em;
}

#autoRefresh {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: none;
     background-image: url('/Content/images/select-arrow.png');
    background-position: 96% 11px;
    background-repeat: no-repeat;
    background-size: 15px auto;
    max-width: 140px;
    background-color: #ebebeb;
    border-radius: 0;
    color: #7a7a7a;
    max-width: 140px;
    padding-top: 1px;
    font-size: 1.4em;
    font-family: segoe_light,sans-serif;
    width: 40% !important;
    padding-right: 16px;
}

.tickets-main-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 2em;
}

    .tickets-main-wrapper .right_col {
        padding-left: 45px;
    }

.right_col {
    position: relative;
    margin-left: 0;
    min-height: 82em;
}

.sidebar-overlay.nav-side-menu {
    background-color: transparent;
    max-width: 25em;
    min-height: 0;
}

    .sidebar-overlay.nav-side-menu li {
        border-color: #999999;
        color: #fff;
        border-top: 0 none #999999;
        padding: 0 !important;
        /*padding: 18px 12px;*/
    }

.mobileNav-overlay-content .user-profile-control {
    background-color: transparent !important;
}

.mobileNav-overlay-content ul li:hover a {
    color: #000000;
}

.sidebar-overlay.nav-side-menu a {
    font-family: segoe_light,sans-serif;
    font-size: 1.12em;
    font-weight: bold;
    padding: 18px 12px;
}

    .sidebar-overlay.nav-side-menu a i {
        padding-right: 1.8em;
    }

.dataTables_wrapper thead tr {
    background-color: #cfcfcf;
}

#example1_length .form-control.input-sm, #example_length .form-control.input-sm {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-color: #f3f3f3;
    background-image: url('/Content/images/select-arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    border: 0 none;
    border-radius: 0;
    width: 50px;
}

#example_filter .form-control, #example1_filter .form-control {
    background-color: #f3f3f3;
    border: medium none;
    border-radius: 0;
}

#example_length > label, #example1_length > label {
    text-transform: capitalize;
}
/*---- Sidebar Overlay -----*/

.sidegetintouch_inner #sidegetintouch-arrow {
    cursor: pointer;
    display: block;
    margin-top: 0;
    max-width: 40px;
    padding-bottom: 6px;
    padding-right: 0;
    padding-top: 6px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 46px;
    height: 100%;
    background-color: #454545;
}

#sidegetintouch-arrow .fa-angle-double-right,
#sidegetintouch-arrow .fa-angle-double-left {
    background-color: #454545;
    border-radius: 3px;
    color: #e6e6e6;
    font-size: 2.5em;
    padding: 0.12em 0.25em;
    margin-bottom: 8px;
    margin-top: 6px;
}

#sidegetintouch {
    background: rgba(49, 49, 49, 0.9) none repeat scroll 0 0;
    height: 100%;
    left: -260px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 20;
}

.sidegetintouch_inner {
    width: 100%;
}
/*--Style switcher Css--*/
#style-switcher, #style-switcher .bottom a.settings {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.08);
}

    #style-switcher div h3 {
        border-bottom: 1px solid #bfbfbf;
        color: #1d1d1d;
        font-size: 1em;
        margin-bottom: 1em;
        margin-top: 0;
        padding-bottom: 6px;
    }

#style-switcher {
    background-color: transparent !important;
    box-shadow: 0 0;
    height: 90px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0 !important;
    top: 6.25em;
    width: 42px;
    z-index: 99;
}

    #style-switcher div {
        padding: 5px 6px;
    }

.style-switcher-inner {
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 211px;
}

.panel-body ul.pattern {
    padding: 0;
    width: 100%;
}

.panel-body .pattern > li {
    width: 22%;
}

#style-switcher .bottom {
    background: #ffffff none repeat scroll 0 0;
    color: #252525;
    float: left;
    max-width: 42px;
    padding: 0;
    width: 20%;
}

    #style-switcher .bottom a.settings {
        display: block;
        float: left;
        height: 41px;
        padding: 3px;
        width: 40px;
    }

    #style-switcher .bottom a {
        text-decoration: none;
    }

        #style-switcher .bottom a.settings i {
            color: #000000;
            font-size: 18px;
            margin-left: 8px;
            margin-top: 9px;
            position: absolute;
        }

ul.pattern {
    background-color: #ffffff;
    border-radius: 0;
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 7px 10px;
    width: 80%;
}

    ul.pattern li {
        float: left;
        margin: 2px;
    }

        ul.pattern li a {
            border-radius: 50%;
            cursor: pointer;
            display: block;
            height: 30px;
            width: 30px;
        }

.setting-main-cont .panel-title {
    font-size: 0.9em;
    padding: 4px 0;
}

    .setting-main-cont .panel-title a {
        display: block;
    }

ul.pattern .color1, ul.pattern .button1, ul.pattern .bg1, ul.pattern .theme1 {
    background-color: #5087c8;
}

ul.pattern .color2, ul.pattern .button2, ul.pattern .bg2, ul.pattern .theme2 {
    background-color: #000000;
}

ul.pattern .color3, ul.pattern .button3, ul.pattern .bg3, ul.pattern .theme3 {
    background-color: #1abb9c;
}

ul.pattern .color4, ul.pattern .button4, ul.pattern .bg4, ul.pattern .theme4 {
    background-color: #8046a6;
}

ul.pattern .color5 {
    background-color: #8B72EB;
}

ul.pattern .color6 {
    background-color: #e55a55;
}

ul.pattern .color7 {
    background-color: #ffbd00;
}

ul.pattern .color8 {
    background-color: #00b19d;
}

.reset_setting {
    display: block;
    margin: 1em auto 0;
}
/*---- Footer Css -----*/
.footer-txt {
    background-color: #5180be;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.login-page-footer.footer-txt {
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media (max-width:992px) {
    .mobileNav-overlay {
        display: block;
        max-width: 300px;
    }

    .mail-reply-cont.changestatus input, .mail-reply-cont.changestatus select {
        margin-bottom: 0.7em;
    }

    .add-sub-btn-col {
        margin-left: 0;
        margin-right: 0;
    }

    .right_col {
        margin-left: 0px !important;
    }

    .nav-side-menu {
        min-height: 0;
    }

    .main_nav {
        display: none;
    }

    .sidebar-overlay.nav-side-menu {
        max-width: none;
    }

    .nav-side-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .dealer-logo-inner {
        float: right;
    }

    .site_logo .img-responsive {
        display: block;
        margin: 12px auto 0;
        max-width: 60%;
    }

    #sidegetintouch {
        display: none;
    }

    .tickets-main-wrapper .right_col {
        padding-left: 10px;
        padding-right: 10px;
    }

    #draggablePanelList.chart-main-cont, .custom-reports-cont {
        padding-left: 1em;
    }
}

@media (max-width:1200px) {
    .refresh-rates-box > label {
        font-size: 1.135em;
    }

    #autoRefresh {
        font-size: 1.2em;
    }

    .reports-icons-main {
        margin-bottom: 1em;
    }

    #chatblock.box, #visitorblock.box, #responseblock.box {
        font-size: 14px !important;
    }
}

@media (min-width: 1200px) {

    .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        padding: 0 6px;
        ;
    }

    #ChatComparison .box-text {
        line-height: normal;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .tickets-main-wrapper .right_col {
    padding-left: 10px  !important;
}
    #ct-search-btn {
    margin-bottom: 2em;
    }
    .ct-inner-col .form-group {
    margin-bottom: 0;
}

.ct-inner-col {
    padding: 0;
    margin-bottom: 20px!important;
    float: left;
    width: 100%;
}
.table-header-row {
    padding: 20px 0 20px !important;
}
table#tblChatTrans {
    WIDTH: 100% !important;
}
    table#qcFeedbackWebsiteTable, table#mysteryShoppingOperatorTable, table#feedbackOperatorTable, table#surveyOperatorTable {
        display: block;
        width: 400px;
        overflow-y: scroll;
    }

    .input-main-col-align {
        margin-left: 0px;
    }

        .input-main-col-align .text-right {
            text-align: left;
        }

    .ct-inner-col .form-group {
        margin-bottom: 0;
    }

.ct-inner-col {
    padding: 0;
    margin-bottom: 20px!important;
    float: left;
    width: 100%;
}
.table-header-row {
    padding: 20px 0 20px !important;
}

    #open-tickets .create-btn {
        font-size: 1em;
    }

    .refresh-rates-box > label {
        font-size: 1em;
    }

    #autoRefresh {
        font-size: 1em;
    }

    .right_col {
        margin-left: 0px !important;
    }

    .remove-sub-btn {
        margin-left: 0;
    }

    .skin-codes-modal .right-col {
        border-left: medium none;
        padding-bottom: 1em;
        padding-left: 0 !important;
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        height: 1.35em;
    }

    .charts-main-title {
        padding-bottom: 0.5em;
    }

    .add-user-content .row .form-control {
        margin-bottom: 0.8em;
    }

    .add-user-content .row.no-margin {
        padding-top: 0;
    }

    #tickets-tabs .arrow-btn-col .btn {
        margin-bottom: 6px;
        margin-top: 0;
    }

    #AssignedUsers .add-user-content, #AssignedWebsite .add-user-content, #addroleform .add-user-content {
        margin-top: 0;
        padding-bottom: 0;
    }

    #AssignedUsers .dash-del-btn, #AssignedWebsite .dash-del-btn, #addroleform .dash-del-btn {
        margin-bottom: 0.8em;
        margin-top: 0;
    }

    .add-user-content {
        margin-top: 1em;
    }

    .login_content h1 {
        font-size: 1em;
        margin-bottom: 0;
    }

    .login-form-field {
        margin: 0 0 8px;
    }

    .login_wrapper {
        max-width: 330px;
    }

    .login-form-label {
        font-size: 0.85em;
    }

    #btnComd {
        margin-top: 0.5em;
    }

    .custom-reports-inner .input-main-col {
        margin-bottom: 0.4em;
    }

    .custom-reports-inner .form-lable {
        margin-bottom: 5px;
    }

    .top_search {
        display: none;
    }

    .site_logo {
        margin: 0.85em 0;
    }

    .crt-tckt-mid-cont .row {
        margin-bottom: 0;
    }

    #tickets-tabs {
        padding-top: 0;
    }

    .partial-center {
        margin: 1em auto;
    }

    .crt-tckt-mid-cont .row select, .crt-tckt-mid-cont .row input {
        margin-bottom: 0.8em;
    }

    .custom-cols {
        width: 33%;
    }

    .mobile-menu {
        float: left;
        width: 20%;
    }

    .dealer-logo-inner {
        float: right;
        width: 80%;
    }

    .top_search {
        margin-top: 0em;
        margin-bottom: 1em;
    }

    .mobileNav-overlay-content {
        top: 8%;
    }

    .mobileNav-overlay .closebtn {
        right: 5px;
    }

    #createTicket .row.col-md-12.no-padding {
        margin-bottom: 0 !important;
    }

    #createTicket .col-md-6.col-sm-6.col-xs-12.no-padding {
        margin-bottom: 10px;
    }

    #atch {
        margin-bottom: 20px;
    }

    #draggablePanelList.chart-main-cont, .chart-main-cont {
        padding-left: 1em;
    }

    #style-switcher {
        top: 6.2em;
    }

    .margin-bottom-mobile {
        margin-bottom: 10px;
    }

    #Domaindiv .newDeploymentAddMoreDomainSales {
        margin: 0 0 10px auto;
    }

    #addticket #Attachementsdiv {
        margin-top: 10px;
    }

    #startDeployement .crt-tckt-mid-cont > div > div > div:nth-child(3) {
        padding: 0 15px !important;
    }
}

@media (max-width: 500px) {
    div.dataTables_wrapper div.dataTables_info {
        white-space: normal;
    }

    .refresh-rates-box.pull-right {
        margin-bottom: 1em;
    }

    #open-tickets .create-btn {
        font-size: 1em;
    }

    #divsubscrb.editor-btm-content {
        margin-top: 1.5em;
    }

    .mail-reply-cont .mail-uname {
        margin-bottom: 0;
    }

    .tickets-main-wrapper {
        margin-bottom: 2em;
    }

    .login-form-field .form-control {
        color: #000000 !important;
    }

    .login-form-label {
        color: #000000;
        padding-left: 9px !important;
    }

    .login_wrapper {
        max-width: 270px;
    }

    .login_content div .reset_pass {
        float: left;
        font-size: 0.85em;
        margin-right: 0;
        margin-top: 10px !important;
    }

    .btn.btn-default.submit {
        padding: 0.5em 1.5em;
    }

    .custom-cols {
        width: 50%;
    }

    .mobile-menu {
        font-size: 27px;
    }

    .site_logo .img-responsive {
        float: right;
        max-width: 50%;
        margin-top: 8px;
    }

    .dropdown-toggle.info-number {
        padding: 29.5px 11px;
    }

    .user-profile.dropdown-toggle {
        padding: 25px 5px;
    }

    .mobileNav-overlay .closebtn {
        height: auto;
        right: 5px;
    }

    .sidebar-overlay.nav-side-menu a {
        font-size: 0.85em;
    }

    .mobileNav-overlay a {
        padding: 0 8px;
    }

    li.paginate_button {
        display: none;
    }

    .paginate_button.active, .previous, .next {
        display: inline-block !important;
    }

    .dataTables_length, .dataTables_filter {
        float: left;
    }

    #tickettable_length.dataTables_length {
        margin-right: 7% !important;
    }

    #cke_50, #cke_16, #cke_31, #cke_44, #cke_41 {
        display: none;
    }
    /*<<<<<<< .mine*/

    /*||||||| .r1551*/
    /*.mobileNav-overlay-content a[href="/Report/index/0"] {
        display: none;
    }*/
    /*>>>>>>> .r1682*/
    .refresh-rates-box label {
        float: left;
        font-size: 1em;
    }

    #autoRefresh {
        width: 100px;
    }

    .list-group-item .col-md-12, .list-group-item .col-md-3 {
        padding: 0 !important;
    }

    .subscriberbtn {
        margin-top: 10px !important;
    }

    .mail-uname > strong {
        font-size: 16px;
    }

    .refresh-rates-box.pull-right {
        clear: right !important;
        float: left !important;
    }

    .form-control.input-sm {
        max-width: 90px;
    }

    #individualtable_length .form-control {
        width: 50px;
    }

    #InnerMain .list-group > h5 {
        margin-right: 10px;
    }

    .list-group-item span {
        display: block;
    }

    .list-group {
        margin-bottom: 0;
    }
    /*#tickets-tabs .btn {
        margin-top: 10px;
    }*/
    .btn.transfer-tckt-btn {
        display: block;
        margin: 4px 5px !important;
        padding: 6px 0;
        width: 146px;
    }

    .refresh-rates-box {
        margin-top: 0;
    }

    .mob-nav-prof-img {
        max-height: 65px;
    }

    .user-name-txt {
        font-size: 13px;
        margin-top: 0;
    }

    .mobileNav-overlay-content.sidebar-overlay.nav-side-menu a {
        padding: 5px 0;
    }

    .mobileNav-overlay-content.sidebar-overlay.nav-side-menu {
        height: auto;
    }

    .mobileNav-overlay span.arrow {
        font-size: 0.9em;
    }
}

.input-main-col {
    margin-bottom: 1em;
}

.datatablefullwidth .row:nth-child(2) .col-sm-12 {
    padding: 0px;
}

.dataTables_wrapper .row {
    margin: 0px;
}

    .dataTables_wrapper .row .col-sm-12 {
        padding: 0px;
    }

#example1_wrapper .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mail-uname {
    margin-top: 1em;
}

.mail-uname, .ticket-attachment {
    display: inline-block;
}

.tickethover {
    background-color: transparent !important;
    background-image: url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) !important;
    background-position: -207px -470px !important;
    background-repeat: no-repeat !important;
    height: 40px;
    margin: 0 0 0 -10px;
    position: absolute;
    text-align: center !important;
    top: -37px;
    left: 0;
    width: 60px !important;
    display: none;
}

#InnerMain span {
    /*margin-left: 5px !important;*/
    position: relative !important;
}

.tickethover a {
    float: none;
    margin: 5px auto;
    display: inline-block;
}

#Tree {
    margin: 0 auto;
    width: 100%;
    max-width: 941px;
    overflow: auto;
}

.Hreport .highcharts-container {
    width: 100% !important;
}

    .Hreport .highcharts-container .highcharts-root {
        width: 100%;
    }

li.dropdown.open a {
    background-color: #000 !important;
}

.dropdown.open a:hover i.fa.fa-cog {
    color: #fff !important;
}

.dropdown-menu optgroup {
    width: 250px;
}

.dropdown-menu {
    padding: 10px;
    width: 250px;
}

.dropdown option {
    padding-left: 5px;
}

/*************** CSS Added by Abdul Khaliq ***************/

body {
    overflow-x: hidden;
}

#tickets-tabs > ul {
    padding-left: 10px;
}

#divsubscrb .tckt-btn-achor {
    width: 180px;
}

#testdropdownhide {
    margin: 12px 0;
}

#btnAttachment {
    max-height: 30px;
}

#chattaken .dataTables_wrapper > div:first-child {
    display: none;
}


/*************** CSS 6/6/2017 ***************/

#lbydetailtbl_wrapper > div:first-child {
    display: none;
}


/*Lead by Department Details Report */

#Lbddetail #lead_dept_right {
    float: right;
}

    #Lbddetail #lead_dept_right .fa-circle-o {
        color: #ff0000;
        float: left;
        font-size: 9px;
        margin-right: 7px;
        margin-top: 4px;
    }

    #Lbddetail #lead_dept_right > strong {
    }

    #Lbddetail #lead_dept_right .fa.fa-angle-down {
        margin-left: 3px;
    }

    #Lbddetail #lead_dept_right > a {
        text-decoration: none;
    }

#Lbddetail .lead-dept-dropdown .radio-inline {
    display: block;
    font-size: 12px;
    line-height: 22px;
    margin-left: 5px;
}

#Lbddetail #lead_dept_right .dropdown-toggle {
    display: block;
    margin-top: 10px;
}

#Lbddetail #lead_dept_right .dropdown-menu {
    left: unset;
    right: 0;
    width: unset;
}

#Lbddetail #lead_dept_right .lead-dept-dropdown p {
    float: left;
    font-size: 11px;
    margin: 0 0 4px 5px;
}

#Lbddetail .view .fa.fa-database {
    float: right;
}


/*************** CSS 9/6/2017 ***************/

.special-class #chatblock.box,
.special-class #visitorblock.box,
.special-class #responseblock.box {
    font-size: 0.9em !important;
    height: unset !important;
}

.special-class .box .box-left .box-number {
    font-size: 12px !important;
    padding-left: 6px !important;
}

.special-class .box {
    height: 70px !important;
}

.special-class {
    padding: 0 !important;
}

    .special-class .comparison-right {
        font-size: 9px !important;
    }


/** CSS 15/6/2017 **/

#chkeditor #InnerMain h5 {
    float: right;
    font-size: 13px;
}

#chkeditor .list-group .mail-uname,
#chkeditor .list-group .mail-uname strong {
    font-size: 13px;
    line-height: 16px;
}

#chkeditor .list-group {
    margin-bottom: 0;
}

    #chkeditor .list-group .list-group-item {
        clear: right;
    }


/*************** END CSS Added by Abdul Khaliq ***************/

/*************** CSS Added by Awais Ali ***************/

.inlineInputText {
    font-size: 16px;
    margin-top: 5px;
}
/*************** END CSS Added by Awais Ali ***************/

/****************CSS Added by Irfan for Error Page*********************/
    .lft-smiley img {
        margin-top: 100px;
        margin-left: 100px;
    }
    .right_col {
        min-height: 60em;
    }
    .page-404-title {
        margin-top: 1.1em;
        color: #444;
        font-size: 6em;
        padding-left: 0.5em;
        display: block;
    }
    .page-404-content {
        font-size: 3em;
        color: #888;
        padding-left: 1em;
        display: block;
        line-height: 1.2;
        margin-top: 0.5em;
    }
    .back-btn.btn {
        margin-left: 2.2em;
        background-color: #1b62c3 !important;
        color: #fff;
        display: inline-block;
        margin-top: 2em;
        font-size: 1.35em;
        padding: 10px 24px;
    }
    @media only screen and (max-width: 992px) {
        .page-404-title {
            font-size: 4em;
            margin-top: 1.8em;
        }
        .lft-smiley img {
            margin-left: 0;
        }
    }
    @media only screen and (max-width: 767px) {
        .lft-smiley img {
            margin: 3em auto;
            display: block;
            max-width: 100px;
        }
        .page-404-title {
            margin-top: 1.1em;
            font-size: 2em;
            padding-left: 0;
            display: block;
            text-align: center;
        }
        .page-404-content {
            font-size: 1.12em;
            padding-left: 0;
            display: block;
            line-height: 1.2;
            margin-top: 0.5em;
            text-align: center;
        }
        .back-btn.btn {
            margin-left: 0;
            display: block;
            margin-top: 2em;
            font-size: 1.1em;
            margin: 2em auto;
            max-width: 120px;
        }
    }
    /***************End css for Error Page****************/